@model IEnumerable<AirFiel_Mariana_Oliveira.Data.Entities.Tickets>
@{
    ViewData["Title"] = "Tickets";
}

<h1>Get your ticket here</h1>

@*<p>
    <a asp-action="Create" class="btn btn-primary">Buy Ticket</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.users.FullName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
                
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UpdateCapacity)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.users.FullName)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Items)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateCapacity)
                </td>

                <td>
                    <a asp-action="AddTicket" asp-route-id="@item.Id" class="btn btn-info">AddTicket</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> |

                </td>
            </tr>
        }
    </tbody>
</table>


