@model AirFiel_Mariana_Oliveira.Data.Entities.Airplanes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airplanes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePlane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePlane)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
