@model IEnumerable<AirFiel_Mariana_Oliveira.Data.Entities.Airplanes>

@{
    ViewData["Title"] = "Index";
}

<h1>Add new Airplane</h1>

<p>
    <a asp-action="Create" style="color: cadetblue; font-size:15px;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowManyClasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePlane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowManyClasses)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Capacity1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity2)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePlane))
                    {
                       <img src="@Url.Content(item.ImagePlane)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto">
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary edit-button" id="edit" style="background-color: whitesmoke; color: grey;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" id="details" class="btn btn-secondary details-button" style="background-color: whitesmoke; color: grey;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" id="delete" class="btn btn-secondary delete-button" style="background-color: whitesmoke; color: grey;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>

    var editButton = document.querySelectorAll(".edit-button");
    var detailsButton = document.querySelectorAll(".details-button");
    var deleteButton = document.querySelectorAll(".delete-button");

    function changeColor(element, color) {
        element.style.backgroundColor = color;
    }

    editButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "yellow");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    detailsButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    deleteButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "red");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });
    
</script>