@model AirFiel_Mariana_Oliveira.Models.FlightListAndSearchViewModel
@using AirFiel_Mariana_Oliveira.Data.Entities;
@using AirFiel_Mariana_Oliveira.Models;
@inject IEnumerable<Tickets> Ticket;

@{
    ViewData["Title"] = "Index";
}

<h1>Plan your trip</h1>
@if(this.User.IsInRole("Employees"))
{
 <p>
        <a asp-action="Create" class="btn btn-primary" style="font-size: 20px; color: whitesmoke">Create New</a>
</p>   
}

<partial name="_FlightSearchPartialView" />

<table class="table">
    <thead>
        <tr>
           @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employees")))
            {
                <th>
                    FullName
                </th>

                <th>
                   FullPrice
                </th>

                <th>
                   FullCapacity
                </th>
                <th>
                   Airplane
                 </th>
                <th>
                   Lines
                </th>

                <th>
                  Pilot
                 </th>

                <th>
                  Co-Pilot
                </th>

                <th>
                  Travels p/ Month
                </th>
            }

            <th>
                Destination
            </th>

            <th>
                Origin
            </th>

            <th>
                Depart
            </th>

            <th>
                Return
            </th>  
            
            <th>
                Price p/ ticket
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FlightsList)
        {
            <tr>
               @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employees")))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.users.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullCapacity)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.AirplaneName.NamePlusCapacity)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Lines)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Pilot.NameAndExperience)
                    </td>

                    <td>
                       @Html.DisplayFor(modelItem => item.CoPilot.NameAndExperience)
                    </td>

                     <td>
                       @Html.DisplayFor(modelItem => item.TravelsPerMonth)
                     </td>
                }
               

                <td>
                    @Html.DisplayFor(modelItem => item.Destination.FullAirportAndCityName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Origin.FullAirportAndCityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depart)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Return)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PricePerTicket)
                </td>
                
                
                
                @if (this.User.IsInRole("Customer") || item.users == null)
                {
                   <td>
              
               
                    @if(item.Depart < DateTime.Now)
                    {
                       <a href="#" class="btn btn-warning">Close</a>
                    }

                        else if(item.FullCapacity == Ticket.FirstOrDefault()?.QuantityOfPassengers)
                        {
                            <a href="#" class="btn btn-danger">Fully Booked</a>
                        }
                        else
                        {
                             <input type="hidden" asp-for="@item.Id">
                             <input type="hidden" asp-for="@item.PricePerTicket">
                             <a asp-controller="Tickets" asp-action="AddTicket" asp-route-id="@item.Id" class="btn btn-primary buy-button" style="background-color: whitesmoke; color: grey;">Buy</a>
                   
                        }
                 
                
                   </td>
              }
                @if (this.User.IsInRole("Employees"))
                {
                    <td>
                        <a asp-action="SaveRoute" asp-route-id="@item.Id" class="btn btn-secondary save-button" style="background-color: whitesmoke; color: grey;">Save</a> 
                    </td>
                }
                
              
            </tr>
        }
    </tbody>
</table>

<script>

    var saveButton = document.querySelectorAll(".save-button");
    var buyButton = document.querySelectorAll(".buy-button");
   
    function changeColor(element, color) {
        element.style.backgroundColor = color;
    }

    editButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    editButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });
    
</script>