@model IEnumerable<AirFiel_Mariana_Oliveira.Data.Entities.Routes>
@{
    ViewData["Title"] = "Index";
}

<h1>Plan your trip</h1>
@if(this.User.IsInRole("Employees"))
{
 <p>
        <a asp-action="Create" class="btn btn-primary" style="font-size: 20px; color: whitesmoke">Create New</a>
</p>   
}

<table class="table">
    <thead>
        <tr>
           @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employees")))
            {
                <th>
                    @Html.DisplayNameFor(model => model.users.FullName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FullPrice)
                </th>

            <th>
                @Html.DisplayNameFor(model => model.FullCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirplaneName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Lines)
            </th>

            <th>
                   @Html.DisplayNameFor(model => model.Pilot)
            </th>
               
            <th>
                  @Html.DisplayNameFor(model => model.CoPilot)
            </th>

            <th>
                   @Html.DisplayNameFor(model => model.TravelsPerMonth)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>  
            
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Depart)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Return)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PricePerTicket)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employees")))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.users.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullPrice)
                    </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FullCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirplaneName.Name)
                </td>
                <td>
                       @Html.DisplayFor(modelItem => item.Lines)
                </td>
                <td>
                       @Html.DisplayFor(modelItem => item.Pilot.FirstName)
                </td>

                <td>
                       @Html.DisplayFor(modelItem => item.CoPilot.FirstName)
                </td>

                <td>
                       @Html.DisplayFor(modelItem => item.TravelsPerMonth)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Destination.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Origin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depart)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Return)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PricePerTicket)
                </td>

                @if (this.User.IsInRole("Customer"))
                {
                    <td>
                        <a asp-controller="Tickets" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary buy-button" style="background-color: whitesmoke; color: grey;">Buy</a>
                    </td>
                }

                <td>
                        <a asp-action="SaveRoute" asp-route-id="@item.Id" class="btn btn-secondary save-button" style="background-color: whitesmoke; color: grey;">Save</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

