@model IEnumerable<AirFiel_Mariana_Oliveira.Data.Entities.Employees>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create" style="font-size: 20px; color:cadetblue;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ProfileImageFullPath))
                    {
                        <img src="@Url.Content(item.ProfileImageFullPath)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto">
                    }
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary edit-button" style="background-color: whitesmoke; color: grey;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary details-button" style="background-color: whitesmoke; color: grey;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary delete-button" style="background-color: whitesmoke; color: grey;">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<script>

    var editButton = document.querySelectorAll(".edit-button");
    var detailsButton = document.querySelectorAll(".details-button");
    var deleteButton = document.querySelectorAll(".delete-button");

    function changeColor(element, color) {
        element.style.backgroundColor = color;
    }

    editButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "yellow");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    detailsButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "lightblue");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

    deleteButton.forEach(function (element) {
        element.addEventListener("mouseover", function () {
            changeColor(element, "red");
        });

        element.addEventListener("mouseout", function () {
            changeColor(element, "whitesmoke");
        });
    });

</script>